import Config

config :bot,
  guild_ids: [
    # One or more server ids, comma separated
    # Leave empty to register commands globally
    # Globally registered commands can take up to an hour to appear in a server
  ]

config :nostrum,
  token: "DISCORD_BOT_TOKEN_HERE"

config :logger, :console,
  format: "$time $metadata[$level] $levelpad$message\n",
  level: :info
